body {
    font-family: 'Poppins', sans-serif !important;
}

.fullDiv {
    background-color:#f7921c !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.logincard {
    margin-top: 195px !important;
        width: 908px;
    height: 420px;
    margin: 0px auto;
}

.titleline {
    font-size: 28px;
    color: #fe0103;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -7px;
}

.pointer {
    cursor: pointer;
}

.lgnippad {
    padding: 0px 30px 0px 10px;
}

.frgtpslink {
    /*  margin-left: 10px;*/
    margin-top: 8px;
    color:#fe0103;
    font-weight: 500;
}

hr.stylelgn {
    border-style: solid;
    border-color:#fe0103;
    border-width: 2px 0 0 0;
    width: 106px;
    float: left;
}

.input-field label.active {
color:#fdbe00!important;

}
@media only screen and (max-width:1280px) {
    .frgtpslink {
        /* margin-left: 10px; */
        margin-top: 13px !important;
        color: #ff4081;
        font-weight: 500;
        font-size: 12px !important;
    }
}
.mb0{
    margin-bottom: 0px !important;
}

.errtxt {
    color:#fe0103;
    font-size: 14px;
}

.loginbg {
    background-image: url('img/image2.jpg');
    height: 420px;
    width: 920px;
}

.loginform {
    padding-top: 0px;
    margin-left: 63px;
}
.forgotpwdform{
    padding-top: 30px;
    margin-left: 63px;
}

span.pinkcolor {
    color: red;
}

@media only screen and (min-width:1200px) and (max-width:1380px) {
    .logincard {
        margin-top: 185px !important;
    }
}

@media only screen and (min-width:1380px) and (max-width:1200px) {
    .logincard {
        margin-top: 115px !important;
    }
}

@media only screen and (min-width: 2000px) {
    .logincard {
        margin-top: 320px !important;
    }
}
p.errormsg{
    margin-left: 10px;
    color: #fe0103;
}


/*page loader css starts here*/

.preloaderclass>div#preloader {
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   width: 100%;
   height: 100%;
   background: #ffffff url("img/biker.gif") no-repeat center center;
}


/*page loader css ends here*/

/*custom css for login starts here*/
#snackbarsuccs {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    /*margin-left: -125px;*/
    /* Divide value of min-width by 2 */
    background-color: #0cc30c;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 10000;
    /* Add a z-index if needed */
    left: 45%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

#snackbarsuccs.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    /*margin-left: -125px;*/
    /* Divide value of min-width by 2 */
    background-color: rgba(249, 1, 1, 0.93);
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 10000;
    /* Add a z-index if needed */
    left: 45%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

#snackbarerror.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


.cptr{
  cursor: pointer;
}
