.pinkbg {
    background-color: #733dbe !important;
}



/*.portlet.box.myclr {
    border: 1px solid #733dbe !important;
}*/

span.pinkcolor {
    color: #e91e63;
}

.height1200 {
    height: 1000px !important;
}

.formlabel {
    color: #999 !important;
    font-size: 14px !important;
}

.image-upload-wrap {
    /*margin-top: 20px;*/
    border: 3px dashed #733dbe;
    position: relative;
}

.m2 {
    margin: 8px 0px 8px 0px !important;
}

p.empname {
    color: #733dbe;
    text-align: center;
}

p.empemail {
    /*text-align: center;*/
}

p.empnumber {
    text-align: center !important;
}

a.empemailid {
    color: #333;
}

a.empmobile {
    color: #333;
}

.emprole {
    text-align: center;
}

.circleimage {
    border-radius: 100px !important;
    width: 150px;
    height: 150px;
}

.profileview {
    margin-top: 12px;
    /*box-shadow: 2px 2px 4px 5px #efefef;*/
    padding: 30px;
}

.empimg {
    height: 180px;
    width: 150px !important;
}

.imgsize {
    height: 150px;
    width: 100%;
    border: 2px solid #733dbe;
}

.headingtext {
    text-align: center;
    font-size: 14px;
}

.alignleft {
    text-align: left !important;
}

.bootstrap-tagsinput {
    width: 100%;
    margin-top: -5px;
    border: 1px solid rgba(40, 86, 182, 0.69) !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
}

.label-info {
    background-color: #733dbe !important;
    padding: 8px !important;
}

.mt-35 {
    margin-top: -35px !important;
}

.dtp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20000 !important;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickherebtn:hover {
    color: #733bde;
    background-color: #fff;
    border-color: #733bde;
    padding: 6px;
}

.themeclrtable {
    color: #fff;
    background-color: #733bde;
    border-color: #733bde;
    padding: 6px;
}

.load-more {
    background-color: #733bde;
}

a.load-more:hover {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #733bde;
    cursor: pointer;
}

.quick-nav {
    top: 56% !important;
}

li.nav-item:hover a i {
    color: #fe3651 !important;
}

.clickherebtn:focus {
    color: #fff !important;
}

.clickherebtn:hover {
    color: #733dbe !important;
}

.borderbottomstyle {
    border-bottom: 2px dashed #733dbe !important;
}

.previewbtn {
    width: 100%;
    height: 48px;
    border-radius: 0px !important;
    padding-top: 14px;
}

.pl0 {
    padding-left: 0px !important;
}

.p30 {
    padding: 0px 30px 30px 30px !important;
}

.mt-20 {
    margin-top: -20px !important;
}

.floatright {
    float: right !important;
}

.mt25 {
    margin-top: 25px !important;
}




/*MULTIPLE FILE UPLOAD STARTS HERE*/

.clear-both {
    clear: both;
}

.block {
    background-color: rgba(158, 158, 158, 0.22);
    border: 2px dashed #733dbe;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

label.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px !important;
    background-color: #733dbe;
    border: 1px solid #733dbe;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

label.button:hover {
    background-color: #F0F0F0;
    border-radius: 20px !important;
    color: #733dbe;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

input#images {
    display: none;
}

#multiple-file-preview {
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    margin-top: 10px;
    padding: 10px;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 300px;
}

#sortable li {
    margin: 3px 3px 3px 0;
    float: left;
    width: 153px;
    text-align: center;
    position: relative;
    background-color: #FFFFFF;
}

#sortable li,
#sortable li img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#sortable li div.order-number {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    heigth: 15px;
    background-color: #733dbe;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer !important;
}

input#images1 {
    display: none;
}

#multiple-file-preview1 {
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    margin-top: 10px;
    padding: 10px;
}

#sortable1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 300px;
}

#sortable1 li {
    margin: 3px 3px 3px 0;
    float: left;
    width: 153px;
    text-align: center;
    position: relative;
    background-color: #FFFFFF;
}

#sortable1 li,
#sortable1 li img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#sortable1 li div.order-number {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    heigth: 15px;
    background-color: #733dbe;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer !important;
}




/*MULTIPLE FILE UPLOAD ENDS HERE*/

.tripsheettitle {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    color: #ff4081;
}

.selectcarddm {
    width: 500px;
    margin: 0px auto !important;
}

.previewthumbimg {
    height: 156px !important;
    width: 100% !important;
}

.width10 {
    width: 10% !important;
}

.ui-menu .ui-menu-item .ui-menu-item-icon {
    background-repeat: no-repeat;
    background-position: 2px, 0;
    background-size: 16px;
    padding-left: 23px;
}




/*AUTOFILL CSS STARTS HERE*/

.spacing {
    height: 40px;
}

.content {
    background: #fff;
    overflow: hidden;
    min-width: 60px;
}




/*.ui-autocomplete {
    font-size: 12px !important;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #fff;
    background-color: #fff;
    left: 1040px !important;
    color: #fff !important;
    list-style: none !important;
}

.ui-menu .ui-menu-item {
    border: 1px solid #e5e5e5 !important;
    list-style: none !important;
}*/

.ui-autocomplete {
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 4px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete li a img {
    border-radius: 100px !important;
    height: 30px !important;
    width: 30px !important;
}

.ui-autocomplete li {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 0px !important;
    cursor: pointer;
}

.ui-autocomplete li:hover {
    background-color: #e9ecf3;
}

.ui-autocomplete li a {
    color: #444;
}

.ui-autocomplete li a:hover {
    text-decoration: none;
    color: #444;
}

.ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

@media only screen and (max-width: 800px) {
    .content {
        padding: 8px;
        transition: all .5s ease-in;
    }
}

.circleimg {
    border-radius: 150px !important;
    height: 150px;
    width: 150px;
}

.cardetails {
    border-right: 1px solid #e5e5e5;
}

.driverimg {
    height: 80px;
    width: 80px;
    border-radius: 150px !important;
}

.margin2 {
    margin: 2px !important;
}

.mtb5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.centersection {
    width: 60%;
    margin: 0px auto !important;
}

.edittdfocus:focus {
    outline: none !important;
}

.centersection25 {
    width: 25%;
    margin: 0px auto !important;
}

.displayyear {
    float: left !important;
    color: #333 !important;
}

th.tableheader {
    background: #733dbe !important;
    color: #fff !important;
}

.remainderbtns {
    width: 100% !important;
    height: auto !important;
}

.centeralign {
    text-align: center !important;
}

.width100 {
    width: 100% !important;
}

.calendar-time {
    display: none;
}

.daterangepickerborder {
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #733dbe !important;
}

i.fa.fa-calendar.glyphicon.glyphicon-calendar {
    display: none;
}

i.fa.fa-chevron-left.glyphicon.glyphicon-chevron-left {
    display: none;
}

i.fa.fa-chevron-right.glyphicon.glyphicon-chevron-right {
    display: none;
}

.page-header.navbar .page-logo {
    width: auto !important;
}



/*my css starts*/

.page-header.navbar {
    background-color: #f7921c !important;
}

.page-sidebar {
    background-color: #f7921c !important;
}

.page-sidebar .page-sidebar-menu>li.active>a {
    border-left: 3px solid #f7921c!important;
}



/*scrollbar-thumb*/

::-webkit-scrollbar-thumb {
    background-color: #f7921c !important;
}



/*scrollbar-thumb*/


/*trigger*/

.quick-nav-trigger {
    background-color: #f7921c !important;
}

.quick-nav .quick-nav-bg {
    background: #f7921c !important;
}



/*trigger*/


/*.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: #fe0103 !important;
}*/

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: transparent!important;
}

.mb4 {
    padding-bottom: 5px;
}

.morebtn {
    color: #fff !important;
    background-color: #f7921c !important;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
}

.mbtn {
    color: #fff !important;
    background-color: #f7921c !important;
    border: 1px solid transparent !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding-bottom: 5px !important;
}

.modal .modal-header {
    border-bottom: 1px solid #f7921c;
    background-color: #f7921c;
    color: #fff;
}

.form-group.form-md-line-input.has-info .form-control {
    border-bottom: 1px solid #f7921c !important;
}

.form-group.form-md-line-input.has-info label {
    color: #080808 !important;
}

.fsearchrbtn {
    color: #FFF;
    background-color: #f7921c;
    border-color: #f7921c;
    margin-top: 15px;
    margin-bottom: 7px;
}

.uploadbtn {
    width: 100%;
}

.getimage {
    margin: 0px auto;
}

#hrline {
    background-color: #080808;
    height: 10%;
    width: 100%;
}

i.icnsze {
    font-size: 20px;
    padding-right: 15px;
}

b.fntspc {
    padding-right: 15px;
}



/*.imgget{
    padding-left: 50px;
}*/

a.rmvbtn {
    width: 100%;
    margin-top: 5px;
}



/*tbody td:nth-child(4) {
width: 5% !important;
}
tbody td:nth-child(2) {
width: 5% !important;
}
tbody td:nth-child(3) {
width: 10% !important;
}
tbody td:nth-child(5) {
width: 10% !important;
}
tbody td:nth-child(8) {
width: 15% !important;
}
tbody td:nth-child(9) {
width: 15% !important;
}*/

.drp_sze {
    font-size: 10px !important;
}

th {
    text-align: center !important;
}



/*SUBADMIN TABLE SIZE*/

.subadmn_tab .subadmn_tabsze td:nth-child(1) {
    width: 15% !important;
}



/*SUBADMIN TABLE SIZE*/


/*MORE INFO TABLE SIZE*/

.more_tabsze td:nth-child(1) {
    width: 5% !important;
}



/*MORE INFO TABLE SIZE*/

.orders_tabsze td:nth-child(3) {
    width: 10% !important;
}

.orders_tabsze td:nth-child(8) {
    width: 5% !important;
}



/*PENDING LIST TABLE SIZE*/

.pen_tabsze td:nth-child(8) {
    width: 5% !important;
}

.pen_tabsze td:nth-child(9) {
    width: 10% !important;
}

.pen_tabsze td:nth-child(3) {
    width: 10% !important;
}

.com_tabsze td:nth-child(3) {
    width: 10% !important;
}

.com_tabsze td:nth-child(9) {
    width: 10% !important;
}

.com_tabsze td:nth-child(8) {
    width: 5% !important;
}

.com_tabsze td:nth-child(10) {
    width: 10% !important;
}

.cancel_tabsze td:nth-child(3) {
    width: 10% !important;
}

.cancel_tabsze td:nth-child(10) {
    width: 5% !important;
}



/*.pen_tabsze td:nth-child(1) {
width: 5% !important;
}
.pen_tabsze td:nth-child(4) {
width: 15% !important;
}
.pen_tabsze td:nth-child(6) {
width: 10% !important;
}
.pen_tabsze td:nth-child(7) {
width: 15% !important;
}
.pen_tabsze td:nth-child(8) {
width: 10% !important;
}*/


/*PENDING LIST TABLE SIZE*/


/*ASSIGN MODAL TABLE SIZE*/

.asnmd_tabsze td:nth-child(1) {
    width: 15% !important;
}



/*ASSIGN MODAL TABLE SIZE*/


/*EMPLOYEE TABLE SIZE*/

.emp_tabsze td:nth-child(9) {
    width: 10% !important;
}



/*EMPLOYEE TABLE SIZE*/

.imgget {
    background-image: url("../img/propic.svg");
}



/*table background*/

.tabbg {
    background-color: #f7921c !important;
}



/*table background*/

.gobtn {
    background-color: #f7921c !important;
    border-color: #f7921c !important;
    border-radius: 2px !important;
}

.portlet.box.myclr {
    border: 1px solid #f7921c !important;
}

a.asntsk {
    color: #FFF;
    background-color: #f7921c;
    border-color: #f7921c;
    border-radius: 20px !important;
    /*padding: 3px !important;*/
    padding-left: 10px;
    padding-right: 10px;
    text-decoration-line: none;
}

a#assignbtn {
    color: #FFF;
    background-color: #f7921c;
    border-color: #f7921c;
    border-radius: 20px !important;
    padding: 10px !important;
    text-decoration-line: none;
}



/*.avlblst{
    padding: 10px;
}*/


/*#nohr{
    padding: 15px !important;
    text-align: right !important;
    border-top: none !important;}
*/


/*.clsebtn{
margin-top: -38px;
}*/

.searchbar {
    float: right !important;
}

.srch_inpt {
    padding: 0px !important;
}

.portlet.box.modalbrdr {
    border: none !important;
}

.fnt_spc {
    padding-right: 5px;
}

.pickup_border {
    padding-bottom: 15px !important;
}

.nopdng {
    padding: 0px;
}

hr.nohrlne {
    margin: 5px;
}



/*.vrlne{
display:inline;
  height:100%;
  width:1px;
  border:1px inset;
  margin:5px
}*/

.colline {
    border-right: 1px solid #ddd;
    padding-left: 30px;
}

i.pkdet {
    padding-right: 15px;
    padding-bottom: 15px;
}

.rwspc {
    padding-bottom: 15px;
}

b.aprxdet {
    padding-right: 10px;
}

hr.track {
    border-top: 3px solid #ccc !important;
    width: 75%;
}

select.roleclr {
    font-size: 16px !important;
    color: #080808 !important;
}



/*CLOSE BUTTON  IN MODAL*/

.clsebtn {
    margin-right: 15px !important;
}



/*CLOSE BUTTON  IN MODAL*/

span.prdct_nme {
    color: rgba(102, 102, 102, 0.68);
}

p.prdct_spc {
    margin-top: 10px;
}

.upload_pro {
    height: 100%;
    */ background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-image: url(../img/propic.svg);
    background-repeat: no-repeat;
}



/*PAYMENT STATUS STARTS*/

td.paid_amnt {

    background-color: green;
}

.not-paid_amnt {
    background-color: red;
}



/*PAYMENT STATUS ENDS*/

/*.tab_img {
    width: 50% !important;
    height: 50px;
    cursor: pointer;
}*/

.table_mrgn {
    margin: 15px !important;
}



/*TAB COLOR*/

li.tab_clr:hover {
    border-bottom: 4px solid #f7921c !important;
}

#ecommercepage .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #f7921c !important;
}



/*TAB COLOR*/

.asng_table {
    overflow-x: hidden !important;
}



/*NO MARGIN FOR ADDRESS DETAILS IN MODAL*/

.mod_row {
    margin-left: 0PX !important;
}



/*NO MARGIN FOR ADDRESS DETAILS IN MODAL*/


/*DATE PICKER BACKGROUND-COLOR*/

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #f7921C !important;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
    background: #f7921c !important;
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: #f7921c !important;
    color: #fff;
}

button.dtp-btn-ok.btn.btn-flat.btn-sm:hover {
    background-color: #f7921c!important;
    color: #fff;
}

button.dtp-btn-cancel.btn.btn-flat.btn-sm:hover {
    background-color: #f7921c!important;
    color: #fff;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm:hover {
    background-color: #f7921c!important;
    color: #fff;
}

a.btn.btn-default.dtp-select-year-range.before {
    background: #f7921c !important;
}

a.btn.btn-default.dtp-select-year-range.after {
    background: #f7921c!important;
}



/*DATE PICKER BACKGROUND-COLOR*/


/*CSS FOR TRACKER*/

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid rgba(158, 158, 158, 0.48);
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    /*content: "\e005";*/
    color: white;
    background-color: #f7921c;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

li.progtrckr-done.corner::before {
    left: 0% !important;
}

li.progtrckr-done.corner1::before {
    left: 100% !important;
}

a.crnrlft {
    color: #080808 !important;
    text-decoration: none;
    position: relative;
    left: -80px;
}

a.crnrlft1 {
    color: #080808 !important;
    text-decoration: none;
    position: relative;
    left: 90px;
}



/*CSS FOR TRACKER*/

.mtop35 {
    margin-top: 35px;
}

.width100 {
    width: 100%;
    border-radius: 0px !important;
}

.ptop0 {
    padding-top: 0px !important;
}



/*my css ends*/

@media (min-width: 992px) {
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:not(.heading):hover>a>.title {
        padding-left: 5px !important;
    }
}

.search_p {
    margin-top: 20px !important;
}

label.labeltext {
    background: #733dbe;
    padding: 0px 8px;
    color: #fff;
    border-radius: 7px !important;
}

span.select2-selection.select2-selection--single,
span.select2-selection.select2-selection--multiple {
    border-top: 0px solid #fff !important;
    border-left: 0px solid #fff !important;
    border-right: 0px solid #fff !important;
    border-bottom: 1px solid #733dbe !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #733dbe !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: none !important;
}

.select2-container--bootstrap .select2-selection {
    box-shadow: none !important;
}

label.projectlabel {
    font-weight: 400;
    padding-left: 12px;
}

.pt0 {
    padding-top: 0px !important;
}

.mt-7 {
    margin-top: -7px !important;
}

td.perfect {
    background: #fff;
    /*color: #fff;*/
}



/*td.perfect:hover{
    background: #fff !important;
    color: #26c281 !important;
}*/

td.abnormal {
    background: #f36a5a;
    color: #fff;
}



/*td.abnormal:hover{
     background: #fff !important;
    color: #f36a5a !important;
}*/

td.moderate {
    background: #e5e5e5;
}



/*td.moderate:hover{
     background: #fff !important;
    color: #f4be3f !important;
}*/

span.highlegend {
    padding: 0px 10px;
    background: #f36a5a;
    color: transparent;
}

span.mediumlegend {
    padding: 0px 10px;
    background: #cac8c8;
    color: transparent;
}

span.lowlegend {
    padding: 0px 10px;
    background: #fff;
    color: transparent;
}

span.legendtext {
    color: #787882;
}

.mb3 {
    margin-bottom: 3px !important;
}

.f12 {
    font-size: 12px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.pointshr {
    margin-top: 6px !important;
    margin-bottom: -9px !important;
}

.mt-card-social {
    margin-top: 20px;
}

.selectborder {
    border-color: rgba(191, 191, 191, 0.57);
}

.mt0 {
    margin-top: 0px !important;
}

i.icon-arrow-right.icnsend {
    color: #fff !important;
}

.carimghandw {
    width: 100% !important;
    height: 149.6px !important;
}



.plr35 {
    /*padding: 0px 35px !important;*/
}



/*NEW*/

tr.inactive {
    background: #c0c0c0 !important;
}

tr.isleave {
    background: #dccfc1 !important;
}

.drop-zone {
    /*width: 205px !important;*/
    height: 168px !important;
    border: 2px dashed #adb7be !important;
    text-align: center !important;
    padding: 25px 0 0 !important;
}

.drop-zone .font-icon {
    line-height: 60px;
    color: #919fa9;
    font-size: 2.75rem;
}

button.btn.btn-success.btn-block a {
    color: #fff;
}

.imgupload-btn {
    border: 1px solid #f7921c;
    background: #f7921c;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

.imgupload-btn:active {
    border: 1px solid #f7921c;
    background: #f7921c;
}

.imgupload-btn:hover {
    border: 1px solid #f7921c;
    background: #f7921c;
    color: #fff;
}

.btn-rounded {
    border-radius: 10em !important;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.home-list-pop img {
    width: 100%;
}


.btn-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn_txt {
    color: #ffffff;
}

.drop-zone .font-icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 2.75rem;
}

.drop-zone .drop-zone-caption {
    font-size: 2rem;
    font-weight: 600;
    color: #919fa9;
    margin: 0 0 2rem;
}

.upload_icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 3.75rem;
    /*my css*/
}




/*SHOW IMAGES SECTION*/

.dottedborder {
    padding: 10px;
    padding-top: 3px !important;
    border: 2px dashed #adb7be;
    height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
}




/*SHOW IMAGES SECTION*/


/*IMAGES HOVER CSS STARTS HERE*/

.itemsContainer {
    /* background:red; */
    float: left;
    position: relative
}

.itemsContainer:hover .play {
    display: block
}

.width50 {
    width: 15%;
}

.play {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 25%;
    width: 30px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.image_mt10 {
    margin: 5px 10px;
}



.itemsContainer:hover .image {
    opacity: 0.3;
}

.itemsContainer:hover .middle {
    opacity: 1;
}

.plr5 {
    padding: 10px 0px !important;
}

.prtm-main .prtm-sidebar-back {
    background-color: rgb(64, 69, 87) !important;
}

.mlr-3 {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.prtm-header .navbar-header {
    padding-right: 8px !important;
}



/*IMAGES HOVER CSS ENDS HERE*/

.image_mt10 {
    margin: 5px 10px;
}

.h100 {
    height: 100px !important;
}

button.dtp-btn-cancel.btn.btn-flat {
    margin-right: 5px;
}

.m0 {
    margin: 0px !important;
}

.h125 {
    height: 125px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.h250 {
    height: 250px !important;
}

.h100 {
    height: 100px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mlr0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}



.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #f7921c;
    border-color: #f7921c;
    cursor: default;
}
.starsection {
    font-size: 18px;
    padding: 0px !important;
}
.purplecolor {
    color: #f7921c !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.h140{
    height: 160px !important;
}
.tab_img {
    width: 25% !important;
    height: 25px;
    cursor: pointer;
}
.iconw50{
    width: 50% !important;
}
.whitenowrap{
    white-space: nowrap;
}
.customerhistorytable td:nth-child(5) {
    width: 8% !important;
}

/*NEW*/
