/*themes css editing starts here*/

body {
  background-color: #fff;
}

.page-header.navbar {
  background: #fe5621;
  border-bottom: 1px solid #e9ecf3;
}

.whiteclr {
  color: #ffffff !important;
}

.blckclr {
  color: #444 !important;
}

.pinkclr {
  color: #f7921c !important;
}

/*.themeclrfrst {
    color: #733dbe !important;
}*/

.themeclrscnd {
  color: #ff4081 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
  background-color: #733dbe !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu {
  background: #fff !important;
  border: 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:hover {
  background: #fff;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
  background-color: #fe5621;
}

.quick-nav .quick-nav-bg {
  background: #fe5621 !important;
}

li.nav-item.active.open a i {
  color: #fe5621 !important;
}

li.nav-item a i:hover {
  color: #fe5621 !important;
}

li.nav-item: hover {
  color: #fe5621 !important;
}

li.nav-item .nav-link .nav-toggle: hover {
  color: #fe5621 !important;
}

.stethescope {
  padding-top: 29px;
  padding-left: 16px;
}

/*scroll bar color css starts here*/

::-webkit-scrollbar {
  width: 5px;
  /* for vertical scrollbars /
height: 8px;
/ for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #fe5621;
}

::-moz-scrollbar {
  width: 12px;
  /* for vertical scrollbars /
height: 12px;
/ for horizontal scrollbars */
}

::-moz-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-moz-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::-o-scrollbar {
  width: 12px;
  /* for vertical scrollbars /
height: 12px;
/ for horizontal scrollbars */
}

::-o-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-o-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/*scroll bar color css ends here*/

.mbtn {
  color: #fff !important;
  background-color: #733dbe !important;
}

/*full page modal starts here*/

.content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.content {
  padding: 5%;
}

.content h1 {
  text-align: center;
  color: #428bca;
  margin-bottom: 40px;
}

.content .modal-btns {
  text-align: center;
}

.full-modal {
  position: absolute;
  top: 74px;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  overflow: scroll;
}

.full-modal:target {
  display: block;
  z-index: 1000;
  opacity: 1.0;
  overflow-x: hidden;
}

.popup:target~.content {
  overflow: hidden;
}

.modal-exit {
  position: fixed;
  top: 79px;
  right: 50px;
  width: 1em;
  height: 1em;
  z-index: 10;
  padding: 0.3em;
  font-size: 3em;
  line-height: 1em;
  text-decoration: none;
  color: #444;
}

.modal-exit:hover {
  color: #dcdcdc;
}

.bg-primary {
  background-color: #fff;
}

.bg-info {
  background-color: #5bc0de;
}

.bg-success {
  background-color: #5cb85c;
}

.bg-warning {
  background-color: #f0ad4e;
}

.bg-danger {
  background-color: #d9534f;
}

.full-modal h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.full-modal h2 {
  font-weight: 400;
  color: #444;
}

.full-modal p {
  font-size: 18px;
  color: #444;
}

.btn-icon i {
  margin-right: 4px;
}

.help-block {
  color: #dcdcdc;
}

.jumbotron h1, .jumbotron p {
  color: #f0ad4e;
}

/*full page modal ends here*/

/*add pharmacy page css starts here
*/

.formtitles {
  font-size: 17px;
  font-weight: 600;
  color: #ff4081;
  margin-left: 15px;
}

.formsubtitles {
  font-size: 15px;
  font-weight: 600;
  color: #ff4081;
  margin-left: 0px;
  margin-top: 25px !important;
}

.formtitlesinclm {
  font-size: 17px;
  font-weight: 600;
  color: #ff4081;
  margin-left: 0px;
}

.addbranch {
  border: 1px solid #2856b6;
  padding: 20px !important;
}

.addservices {
  border: 1px solid #2856b6;
  padding: 0px 15px 0px 15px !important;
}

/*Add Doctor page css starts here*/

.addhospital {
  border: 1px solid #2856b6;
  padding: 20px !important;
}

.nrmlstyle {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.mt21px {
  margin-top: -21px;
}

/*list doctors page css starts here*/

.searchrbtn {
  color: #FFF;
  background-color: #733dbe;
  border-color: #733dbe;
}

.searchrbtn:hover {
  color: #FFF;
}

.searchrbtn.active {
  color: #FFF;
  background-color: #ff4081;
  border-color: #ff4081;
}

.search_p {
  font-size: 17px;
  color: #ff4081;
  font-weight: 600;
  /*padding-left: 73px;*/
  margin-top: 0px !important;
}

.fsearchrbtn {
  color: #FFF;
  background-color: #ff4081;
  border-color: #ff4081;
  margin-top: 15px;
}

.icnsend {
  font-size: 19px;
  margin-top: 4px !important;
}

.dctrimghght {
  height: 112px;
}

.dctrlicrdname {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.dctrlicrdname {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.dctrlicrdemail {
  font-size: 12px !important;
}

.mdlhr {
  border: 1px solid #ff4081 !important;
}

/*file upload css starts here*/

.file-upload {
  background-color: #ffffff;
  /*
  width: 600px;
  margin: 0 auto;
  padding: 20px;
*/
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  /*margin-top: 20px;*/
  border: 3px dashed #7334de;
  position: relative;
}

.image-dropping, .image-upload-wrap:hover {
  background-color: rgba(40, 86, 182, 0.52);
  border: 4px dashed #ffffff;
  color: #fff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #ff4081;
  padding: 58px 0;
  font-size: 16px;
}

.file-upload-image {
  max-height: 150px;
  max-width: 150px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 180px;
  margin: 0;
  color: #fff;
  background: #2856b6;
  border: none;
  padding: 6px;
  border-radius: 4px;
  border-bottom: 4px solid #2856b6;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
}

.remove-image:hover {
  background: #2856b6;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

/*delete images css starts here*/

.img-wrap {
  position: relative;
  display: inline-block;
  border: 3px dashed #733dbe;
  font-size: 0;
  /*margin-top: 19px;*/
}

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  /*  background-color: #FFF;*/
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: .2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}

.img-wrap:hover .close {
  opacity: 1;
}

.clrfixpstn {
  margin-left: 390px !important;
}

@media only screen and (max-width:1440px) {
  .clrfixpstn {
    margin-left: 116px !important;
  }
}

@media only screen and (max-width:1366px) {
  .clrfixpstn {
    margin-left: 82px !important;
  }
}

@media only screen and (max-width:1280px) {
  .clrfixpstn {
    margin-left: 44px !important;
  }
}

/*modal center align css starts here*/

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*modal center align css starts here*/

.modal .modal-header {
  border-bottom: 1px solid #733dbe;
  background-color: #733dbe;
  color: #fff;
}

.close {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: 0;
  background-image: url(../assets/global/img/portlet-remove-icon-white.png)!important;
}

.cngrmmdlip {
  width: 55% !important;
  margin-left: 130px !important;
}

/*load more btn animation css starts here*/

.load-more {
  background-color: #7334de;
  color: #fff;
  display: block;
  height: 3em;
  line-height: 3em;
  margin: 0em auto;
  overflow: hidden;
  /*padding: 0 3em;*/
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .2s ease, background-color .01s ease, color .01s ease;
  transition: all .2s ease, background-color .01s ease, color .01s ease;
  width: 10em;
}

.load-more.load-more--loading {
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  background-color: transparent;
  border: .3em solid #7334de;
  border-radius: 50% !important;
  border-top-color: #fff;
  box-sizing: border-box;
  height: 3em;
  color: transparent;
  padding: 0;
  pointer-events: none;
  width: 3em;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a.load-more:hover {
  text-decoration: none !important;
  color: #fff !important;
  background-color: #7334de;
  cursor: pointer;
}

/*load more btn animation css starts here*/

/*list pharmacies page starts here*/

.portlet.box.myclr {
  border: 1px solid #2856b6;
  border-top: 0;
}

.portlet.box.myclr>.portlet-title, .portlet.myclr, .portlet>.portlet-body.myclr {
  background-color: #2856b6;
}

.themeclrtable {
  color: #fff;
  background-color: #2856b6;
  border-color: #2856b6;
  padding: 6px;
}

.pointer {
  cursor: pointer;
}

#cssTable td, th {
  text-align: center;
  vertical-align: middle;
}

/*docters details page css starts here*/

.aboutme {
  font-size: 18px;
  font-weight: 600;
  color: #ff4081;
}

.aboutmedesc {
  font-size: 16px;
  padding: 0px 10px 0px 10px;
}

.infotable th {
  border: 1px solid #2856b6;
  border-top: 0;
  background-color: #2856b6;
  color: #fff;
}

.tbletitle {
  font-size: 20px;
  text-align: center;
  color: #ff4081;
}

.tblesubtitle {
  text-align: center;
}

.othrdtlslist {
  font-size: 19px;
  color: #ff4081;
  text-decoration: underline;
}

.dctrnhsptl {
  height: 79px;
}

/*list users page starts here*/

.mt-element-card .mt-card-item .mt-card-content .mt-card-desc {
  font-size: 12px;
  margin: 0 0 10px;
}

/*file upload button*/

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.prodimgh128px {
  height: 200px !important;
}

.oldprice {
  text-decoration: line-through;
  font-size: 15px;
  vertical-align: middle;
}

.newprice {
  font-size: 15px;
}

#ecommercepage .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #2856b6;
}

.filepaddng {
  padding: 38px 0px 30px 73px;
}

.produpldimg {
  height: 118px;
  overflow: auto;
  margin-top: -10px;
}

#ecommercepage .md-checkbox label>.box {
  top: 0px !important;
  border: 2px solid #fdfdfd !important;
  height: 20px;
  width: 20px;
  z-index: 5;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
}

#ecommercepage .md-checkbox {
  position: relative;
  margin: 122px !important;
}

@media only screen and (max-width:1440px) {
  #ecommercepage .md-checkbox {
    position: relative;
    margin: 84px !important;
  }
  #ecommercepage .md-checkbox label>.box {
    top: 0px !important;
    border: 2px solid #fdfdfd !important;
    height: 20px;
    width: 20px;
    z-index: 5;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
  }
}

@media only screen and (max-width:1280px) {
  #ecommercepage .md-checkbox {
    position: relative;
    margin: 68px !important;
  }
}

.prodmaintitle {
  font-size: 20px;
  color: #ff4081;
  font-weight: 600;
}

#ecommercepage .img-wrap .close {
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.82) !important;
  padding: 5px 2px 2px;
  color: #000 !important;
  font-weight: bold;
  cursor: pointer;
  opacity: 1.2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}

#ecommercepage .close {
  display: inline-block;
  margin-top: 0;
  margin-right: 0px;
  width: 13px;
  height: 17px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: 0;
  background-image: url(../assets/global/img/portlet-remove-icon-white.png)!important;
}

/*products details modal image css starts here*/

#carousel-example-generic {
  display: inline-block;
}

/*****************************/

/* Plugin styles */

ul.thumbnails-carousel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

ul.thumbnails-carousel .center {
  display: inline-block;
}

ul.thumbnails-carousel li {
  margin-right: 5px;
  float: left;
  cursor: pointer;
}

.controls-background-reset {
  background: none !important;
}

.active-thumbnail {
  opacity: 0.4;
}

.indicators-fix {
  bottom: 70px;
}

.crimg {
  margin-top: 150px;
  color: #ff4081;
}

.crimghght {
  height: 280px !important;
}

.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 103px !important;
}

#carousel-example-generic {
  display: block !important;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #2856b6 !important;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #2856b6 !important;
  border-radius: 10px;
  cursor: pointer;
  /*    background-color: #000\9;*/
  background-color: transparent;
  background-color: white;
}

.ecommdltitle {
  font-size: 24px !important;
  color: #ff5d94 !important;
  margin-top: 0px !important;
  font-weight: 600 !important;
}

.fntsizesubp {
  font-size: 15px !important;
}

.fntsizesubp span {
  font-size: 16px !important;
}

#ecommercepage .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  background-color: #fff;
  border: 1px solid #ff4081;
  border-bottom-color: transparent;
  cursor: default;
}

#ecommercepage .nav-tabs {
  border-bottom: 1px solid #ff4081;
}

#ecommercepage .note.note-success {
  background-color: rgba(238, 238, 238, 0.5);
  border-color: #2856b6;
  color: #000;
}

.dctrimghght {
  height: 112px;
  width: 165px !important;
}

/*notifiation page css starts here*/

.notiimghght {
  height: 103px !important;
  width: 100% !important;
}

.notititle {
  color: #ff4081;
  font-size: 18px;
  font-weight: 600;
}

.notidate {
  color: #444;
  font-size: 18px;
}

.notidesc {
  height: 70px;
  overflow: auto;
}

.page-container-bg-solid .m-heading-1.m-bordered {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  height: 133px !important;
}

.border-after-mypink:after, .border-before-mypink:before, .border-mypink {
  border-color: #ff4081!important;
}

.notidescsecnd {
  height: 56px;
  overflow: auto;
}

.notisubs {
  font-size: 14px;
  color: #ff4081;
}

.actnicon {
  font-size: 19px;
  margin-right: 10px;
  color: #444;
}

.mtp3px {
  margin-top: 3px;
}

#addtimelymodal .btn-icon-only {
  height: 38px;
  width: 37px;
  /* text-align: center; */
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  font-size: 12px;
  /* margin-top: 6px; */
}

#edittimelymodal .btn-icon-only {
  height: 38px;
  width: 37px;
  /* text-align: center; */
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  font-size: 12px;
  /* margin-top: 6px; */
}

#addtimelymodal .searchrbtn {
  color: #444 !important;
  background-color: #ddd !important;
  border-color: #ddd !important;
}

#edittimelymodal .searchrbtn {
  color: #444 !important;
  background-color: #ddd !important;
  border-color: #ddd !important;
}

#addtimelymodal .searchrbtn.active {
  color: #fff !important;
  background-color: #2856b6 !important;
  border-color: #2856b6 !important;
}

#edittimelymodal .searchrbtn.active {
  color: #fff !important;
  background-color: #2856b6 !important;
  border-color: #2856b6 !important;
}

/*
.page-sidebar-menu .nav-item .title{
    color : #fff !important;
}

.page-sidebar-menu .nav-item.active .title{
    color : #2856b6 !important;
}

.page-sidebar-menu .nav-item .arrow{
    display : none !important;
}*/

.logoname {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 25px;
  /* display: inline-block; */
}

@media only screen and (max-width: 992px) {
  .page-sidebar-menu .nav-item .title {
    color: #fff !important;
  }
  .page-sidebar-menu .nav-item.active .title {
    color: #2856b6 !important;
  }
  .page-sidebar-menu .nav-item .arrow {
    display: none !important;
  }
}

.mleft10px {
  margin-left: 10px !important;
}

/*activity page css starts here*/

.actpagetitle {
  color: #ff4081;
  font-size: 19px;
}

.mtp4px {
  margin-top: 4px;
}

.errcde {
  position: absolute;
  margin: 2px 0 0;
  font-size: 13px;
  color: #ff4081;
}

.alert-success {
  background-color: rgba(0, 128, 0, 0.38);
  border-color: green;
  color: green;
  text-align: center;
}

.alert-danger {
  background-color: rgba(255, 64, 129, 0.24);
  border-color: #ff4081;
  color: #ff4081;
  text-align: center;
}

.alert {
  padding: 4px !important;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 78% !important;
}

.margin-top-10 {
  margin-top: -29px!important;
}

.mtabledata .active {
  color: #fff !important;
  background-color: #ff4081 !important;
}

.actpagesubtitle {
  color: #444;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

.activityadddetails hr {
  border-color: #ff4081 !important;
  width: 22%;
  margin-left: 500px;
}

.mtp17px {
  margin-top: 17px !important;
}

.frght {
  float: right;
}

.fleft {
  float: left;
}

/*employeemanagemnet page css starts here*/

.page-logo a {
  text-decoration: none !important;
}

.profimgwandh {
  height: 170px!important;
  width: 100% !important;
}

.mtop15px {
  margin-top: 15px !important;
}

.frght {
  float: right;
}

.fleft {
  float: left;
}

.carincntnt {
  font-weight: 600;
}

.imgbrdr {
  border: 2px solid #ff4081 !important;
  width: 241.14px !important;
  height: 170px !important;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
  background: #5a2e96 !important;
  color: #fff;
  text-align: center;
  padding: 0.3em;
}

.dtp div.dtp-date, .dtp div.dtp-time {
  background: #733dbe !important;
  text-align: center;
  color: #fff;
  padding: 10px;
}

i.material-icons {
  color: #fff !important;
}

.dtp table.dtp-picker-days tr>td>a.selected {
  background: #733dbe !important;
  color: #fff;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm {
  background-color: #fff !important;
}

button.dtp-btn-cancel.btn.btn-flat.btn-sm {
  background-color: #fff !important;
}

button.dtp-btn-ok.btn.btn-flat.btn-sm {
  background-color: #fff !important;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm:hover {
  background-color: #733dbe!important;
  color: #fff;
}

button.dtp-btn-cancel.btn.btn-flat.btn-sm:hover {
  background-color: #733dbe!important;
  color: #fff;
}

button.dtp-btn-ok.btn.btn-flat.btn-sm:hover {
  background-color: #733dbe!important;
  color: #fff;
}

.dtp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 20000 !important;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carimghandw {
  width: 100% !important;
  height: 149.6px !important;
}

.cardisbled {
  background-color: #bfbfbf !important;
}

.driverimghandw {
  width: 100% !important;
  height: 213.6px !important;
}

.file-upload-image0 {
  height: 200px !important;
}

.file-upload-image1 {
  height: 200px !important;
}

.file-upload-image2 {
  height: 200px !important;
}

.file-upload-image3 {
  height: 200px !important;
}

.bootstrap-tagsinput {
  width: 100%;
  margin-top: -5px;
  border: 1px solid rgba(40, 86, 182, 0.69) !important;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileupladipbtn {
  width: 75%;
  height: 36px;
}

.tarearesize {
  resize: none;
}

.empimg {
  height: 180px;
  width: 150px !important;
}

.imgsize {
  height: 150px;
  width: 100%;
  border: 2px solid #733dbe;
}

.headingtext {
  text-align: center;
  font-size: 18px;
}

.alignleft {
  text-align: left !important;
}

li.nav-item:hover a i {
  color: #733bde !important;
}

.categoryname {
  background: #733dbe !important;
  color: #fff;
  padding: 12px;
  margin: 0px;
}

.lh20 {
  line-height: 20px !important;
  font-weight: 500;
}

/*custom css for login starts here*/

#snackbarsuccs {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  /*margin-left: -125px;*/
  /* Divide value of min-width by 2 */
  background-color: #0cc30c;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 100000;
  /* Add a z-index if needed */
  left: 45%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

#snackbarsuccs.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  /*margin-left: -125px;*/
  /* Divide value of min-width by 2 */
  background-color: rgba(249, 1, 1, 0.93);
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 100000;
  /* Add a z-index if needed */
  left: 45%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

#snackbarerror.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.fleft {
  float: left !important;
}

.adminrolestable thead tr {
  background-color: #733dbe !important;
  color: #fff !important;
}

.ldrsvg {
  width: 26px;
  height: 26px;
  margin-top: -3px;
}

.delinmdlcntnt {
  text-align: center;
}

.deltedrolecntnt {
  color: #ff4081;
  font-weight: 600;
}

.editactive {
  background: rgba(115, 61, 190, 0.33) !important;
}

.cperr {
  color: #FF4081;
  font-weight: 600;
}

.nodatafoundcntnt {
  text-align: center;
  font-size: 20px;
  color: #ff4081;
  font-weight: 600;
}

.empresetpasserr {
  color: #FF4081;
  font-weight: 600;
}

.rsetpassempname {
  text-align: center;
  color: #ff4081;
  font-size: 17px;
  font-weight: 600;
}

.disabledclr {
  background-color: #b2acac !important;
}

.cnfrmpasserr {
  text-align: center;
  color: #ff4081;
  font-weight: 600;
}

.img-circle {
  border-radius: 50%!important;
  height: 35px !important;
  width: 36px !important;
}

a.btn.btn-default.dtp-select-year-range.before {
  background: #733dbe !important;
}

a.btn.btn-default.dtp-select-year-range.after {
  background: #733dbe !important;
}

span.showusername {
  color: #ff4081;
  font-weight: 600;
}

.preloaderclass>div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #ffffff url("../img/loadernew.gif") no-repeat center center;
}

.ajaxloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6) url(../img/ajaxloader.gif) no-repeat center center;
}

.modal-xl {
  width: 1100px !important;
}

.addrolesBtn {
  background-color: #733dbe;
  border-color: #733dbe;
}

.addrolesBtn .icon-plus {
  color: #fff !important;
}

.roledeactivate {
  background-color: #bdbfc1 !important;
}

.subadmdynpic {
  height: 50px !important;
  width: 50px !important;
  margin: 0px auto !important;
}

/*Image size Increasing css*/

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70) !important;
  display: none;
  z-index: 100;
}

#overlayContent {
  position: fixed;
  width: 100%;
  top: 30%;
  text-align: center;
  display: none;
  overflow: hidden;
  z-index: 100000;
}

#contentGallery {
  margin: 0px auto;
}

#imgBig, #imgSmall {
  cursor: pointer !important;
}

@media only screen and (max-width:1440px) {
  img#imgBig {
    width: 65% !important;
    margin-left: 250px !important;
    height: 760px !important;
  }
}

@media only screen and (max-width:1600px) {
  img#imgBig {
    width: 65% !important;
    margin-left: 275px !important;
    height: 639px !important;
  }
}

@media only screen and (max-width:768px) {
  img#imgBig {
    /*width: 65% !important;*/
    margin-left: 0px !important;
    /*height: 639px !important;*/
  }
}

button#drp_autogen0 {
  border-bottom: 1px solid #733dbe;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: -3px;
  width: 100% !important;
}

button#drp_autogen0:hover {
  background-color: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-left {
  background-color: #733dbe !important;
  color: #fff !important;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-right {
  background-color: #733dbe !important;
  color: #fff !important;
}

a.ui-state-default.ui-state-highlight.ui-state-active {
  background-color: #733dbe !important;
  color: #fff !important;
  border: 1px solid #733dbe;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #733dbe !important;
  background: #733dbe !important;
  font-weight: normal !important;
  color: #fff !important;
}

button#drp_autogen0:hover span.ui-button-text {
  background: none !important;
  color: #000 !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=month]::-webkit-inner-spin-button, input[type=month]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number], input[type=month] {
  -moz-appearance: textfield;
}

.remove-me {
  position: absolute;
  padding: 3px 10px;
  background: rgba(10, 150, 10, .75);
  color: white;
  top: 80%;
  left: 40%;
  z-index: 1000;
}

.drversalryimg {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
}

#drversalary td, th {
  text-align: left !important;
  vertical-align: middle;
}

.fntclr {
  color: #ff4081 !important;
  font-weight: 600 !important;
}

.dshempimg {
  height: 80px !important;
  width: 80px !important;
}

.mt-widget-1 .mt-img {
  border: 2px dotted #ff4081 !important;
}

.brdrradi50px {
  border-radius: 50% !important;
}

.themeclrbg {
  background-color: #733dbe !important;
}

.mt-widget-3 .mt-head {
  background-color: #5DC9E6;
  margin-bottom: 20px;
  color: #fff;
  padding: 0px 0 !important;
}

.mt-widget-3 .mt-head .mt-head-desc {
  font-size: 13px !important;
}

.whiteclr {
  color: #fff !important;
}

.mt-widget-2 .mt-body .mt-body-title {
  margin-top: 77px !important;
}

.page-header.navbar .page-logo {
  float: left;
  display: block;
  width: auto;
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
}

.reportbox {
  padding: 10px 0px;
}

p.reportitle {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

h3.reportcount {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: #ff4081;
}

ul.ui-autocomplete li:hover a {
  color: #fff !important;
}

.repmdlcntnt {
  font-size: 16px;
  font-weight: 600;
  color: #ff4081;
}

.circleimganthr {
  height: 120px !important;
  width: 120px !important;
}

.w100percent {
  width: 100% !important;
}

.blancereptext {
  font-size: 16px !important;
  padding: 10px !important;
}

.blancerepcount {
  padding: 10px;
  font-size: 22px !important;
  font-weight: 600;
  margin-top: 0px !important;
}

.bg-bluerep {
  background: #327dd2!important;
}

.bg-greeninrep {
  background-color: #3dbe78 !important;
}

.reportdetails .mt-widget-3 .mt-head .mt-head-desc {
  font-size: 16px !important;
}

.driversalary th.tableheader {
  text-align: center !important;
}

.bilimage {
  height: 100px !important;
  width: 80px !important;
  margin-left: 10px;
  border: 2px solid #733dbe;
}

.employeesalary th {
  text-align: center !important;
}

.classimg {
  height: 60px !important;
  width: 60px !important;
  border-radius: 70px !important;
}


.subadmin{
      background-color: #ffcf798c !important;
}

.portlet.box>.portlet-body {
    background-color: #fafafa;
    padding: 0px !important;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0px solid #e7ecf1 !important;
}
